<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Kubernetes Interservice Communication Demo</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>


<main class="container text-center mt-5 ">
    {% if messages %}
        <ul class="messages row mb-5">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
  <div class="row mb-5">
    <div class="col-12">
      <h1>Django Kubernetes <br> Interservice Communication Demo</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <form action="{% url "job" %}" method="post">
        {% csrf_token %}
        <button class="btn btn-primary" type="submit">Trigger via Job</button>
      </form>
    </div>
    <div class="col-6">
      <form action="{% url "crd" %}" method="post">
        {% csrf_token %}
        <button class="btn btn-primary" type="submit">Trigger via CRD</button>
      </form>
    </div>
  </div>
</main>

<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>-->
</body>
</html>